name: Build and Push

on:
  - pull_request_target

jobs:
  build-and-push:
    name: Build and Push

    if: ${{ github.actor == 'renovate[bot]' }}

    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout tree
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install npm packages
        run: yarn install --immutable

      - name: Run build
        run: yarn build

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: yarn build
